<% include ../partials/header %>

      <h1 class="display-4"><%= report.address %></h1>
        <p class="lead"><%= report.type %></p>
        <hr class="my-4">
        <p><%= report.description %></p>
        <a class="btn btn-sm btn-warning" href="/reports/<%= report._id %>/edit">Edit</a>
        <form class="delete-form" action="/reports/<%= report._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
        </form>
      </div>

<% include ../partials/footer %>